site_name: Open Data Mesh
site_description: An open specification that declaratively defines a data product in all its components using a JSON or YAML descriptor document.
site_url: https://dpds.opendatamesh.org

docs_dir: docs/site

repo_url: https://github.com/opendatamesh-initiative/odm-specification-dpdescriptor
edit_uri: edit/main/docs/

dev_addr: '127.0.0.1:1234'

nav:
  - Home: './index.md'
  - Overview: 
    - './overview/README.md'
    - 'Charter': './overview/charter.md'
    - 'Site Map': './overview/sitemap.md'
  - Concepts: 
    - './concepts/README.md'
    - 'Data Product': './concepts/data-product.md'
    - 'Data Product Descriptor': './concepts/data-product-descriptor.md'
    - 'Data Contract': './concepts/data-contract.md'
    - 'DataMeshOps Platform': './concepts/meshops-platform.md'
  - Quickstart:
    - './quickstart/README.md'
    - 'Trip Execution Data Product Overview': './quickstart/example.md'
    - 'Descriptor Document Overview': './quickstart/overview.md'
    - 'Minimal Descriptor Document': './quickstart/info.md'
    - 'Interface Components': './quickstart/interface.md'
    - 'Application Components': './quickstart/application.md'
    - 'Infrastructural Components': './quickstart/infrastructure.md'
    - 'Reusing Descriptions': './quickstart/components.md'
    - 'External Resources': './quickstart/resources.md'
    - 'Providing documentation': './quickstart/docs.md'
    - 'Extending the specification': './quickstart/extensions.md'
    - 'Putting all together': './quickstart/summary.md'
  - Community: 
    - './community/README.md'
    - Quantyca: './community/quantyca.md'
  - Resources: 
    - './resources/README.md'
    - 'Specifications': 
      - 'Versions': './resources/specifications/README.md'
      - '1.0.0-DRAFT': './resources/specifications/1.0.0-DRAFT.md'
    - 'JSON Schema': 
      - 'Versions': './resources/schemas/README.md'
      - '1.0.0-DRAFT': './resources/schemas/1.0.0-DRAFT.md'
    - 'External Tools': './resources/tools.md'
    - 'Related Standards': 
      - 'Related Standards': './resources/standards/README.md'
      - 'Data Store API Specification': './resources/standards/dsapi-spec.md'
      - 'Data Store API Schema': './resources/standards/dsapi-schema.md'
    - 'Data Mesh Resources': './resources/resources.md'
    - 'How to': 
      - 'manage JSON schemas': './resources/howto/build-schema-doc.md'


##theme: readthedocs
theme:
  name: material
  features:
    - navigation.tabs  
    #- navigation.tabs.sticky
    - navigation.top
    - toc.follow
    #- toc.integrate
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.indexes
  favicon: favicon.ico
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: icon.png
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/site/overrides

extra:
  analytics:
    provider: google
    property: G-N7ZP6EW9XH
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
            <br><a href="https://github.com/opendatamesh-initiative/odm-specification-dpdescriptor" target="_blank">⭐Star the project on GitHub⭐</a>
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! 
            <br><a href="https://github.com/opendatamesh-initiative/odm-specification-dpdescriptor/issues" target="_blank">Consider opening an issue on GitHub</a>
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/open-data-mesh-initiative/
    - icon: octicons/mail-16
      link: mailto:odm.info@quantyca.it
    - icon: fontawesome/brands/mailchimp
      link: https://mailchi.mp/936d787cac89/open-data-mesh-initiative
    - icon: fontawesome/brands/github
      link: https://github.com/opendatamesh-initiative/odm-specification-dpdescriptor
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/opendatamesh/shared_invite/zt-1jrqfghls-68AxK_QzypaOeNyOkOwuog

extra_css:
  - stylesheets/extra.css
  
markdown_extensions:
  - toc:
      toc_depth: 4
      permalink: ⚓︎
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  # social:
  #cards_color:
  # fill: "#ff8f00" 
  # text: "#FFFFFF"
      
copyright: >
  Copyright &copy; 2023 Quantyca s.r.l. - <a href="#__consent">Change cookie settings</a>